.card {
    padding: 2rem 0rem;
    width: 30%;
    min-width: 450px;
    font-family: 'Poppins', sans-serif;
    background-color: #FFF;
    text-align: center;
    border-radius: 20px;
    filter: drop-shadow(5px 10px 12px rgba(0, 0, 0, 0.32));
    transition: height 0.3s ease-in-out;
}

.card-title {
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 2rem;
}

.card-text {
    font-size: 0.8rem;
    color: #4e4a53;
    margin-top: 0.5rem;
}

.image-drop-container {
    margin: 2rem;
    padding: 1rem;
    border: dashed 2px #762cff;
    border-radius: 10px;
    background-color: #faf7ff;
    text-align: center;
}

.image-drop-text {
    font-size: 0.8rem;
    color: #898296;
    margin-top: 1rem;
}

.material-symbols-outlined {
    color: #762cff;
    font-size: 3rem;
    font-variation-settings:
    'FILL' 1,
    'wght' 700,
    'GRAD' 0,
    'opsz' 48
}

.uploaded-img {
    border-radius: 10px;
    width: 75%;
    margin: 1.5rem 0
}

.img-link-container {
    padding: 0.4rem;
    margin: auto;
    border-radius: 15px;
    border: solid 1.5px #d6d6d6;
    background-color: #f7f7f7;
    width: 70%;
    display: flex;
}

.img-link-container button {
    margin: 2px;
    width: 35%;
}

.img-link-container p {
    width: 65%;
    border: none;
    font-size: 12px;
    background: transparent;
    font-family: 'Poppins', sans-serif;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}